html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}